/*-- Police Logo et Titres / font-family: 'Shrikhand', cursive; --*/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/*-- Police texte /  font-family: 'Roboto', sans-serif; --*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;

@mixin phone {
    @media only screen and (min-width: 321px) and (max-width: 600px){
        @content;
    }  
}

/*-- Eléments principaux de la page --*/

body
{
    margin: 0;
}

#bloc_page
{
    width: 100%;
}

/*-- header --*/

header
{
    margin: 5% 0 3% 0;
}

.logo
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2% 25% 3% 0;
    @include phone
    {
        display: flex;
        justify-content: space-around;
        margin-right: 0;
        margin-top: 5%;
    }
    i
    {
        text-decoration: none;
        color: black;
        @include phone
        {
            color: black;
        }
    }
    img
    {
        width: 220px;
        height: 80px;
        @include phone
        {
            width: 165px;
            height: 31px;
            padding-right: 20%;
        }
    }
}

/*-- main --*/

#main
{
    border: 2px solid #f6f6f6;
    background-color: #f6f6f6;
    @include phone
    {
        border-radius: 40px 40px 0 0;
        margin-top: -10%;
    }
}

.image
{
    display: flex;
    justify-content: center;
    & img
    {
        width: 1225px;
        border-radius: 15px 15px 15px 15px;
        object-fit: contain;
        position: relative;
        @include phone
        {
            object-fit: cover;
            width: 100%;
            border-radius: 0;
            z-index: -1;
        }    
    }
}

.title
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Shrikhand', cursive;
    @include phone
    {
        justify-content: space-around;
        font-size: 13px;
    }
    i
    {
        margin-left: 5%;
        font-size: 25px;
        @include phone
        {
            margin-left: 0;
            font-size: 22px;
        }
    }
}

.menu
{
    font-family: 'Roboto', sans-serif;
    @include phone
    {
        width: 100%;
    }
    .meal
    {
        font-weight: normal;
        box-sizing: border-box;
        width: 2%;
        border-bottom: 3px solid $tertiary_color;
        padding-bottom: 1%;
        margin-left: 4%;
        @include phone
        {
            width: 10%;
        }
        h3
        {
            @include phone
            {
                font-size: 18px;
            }
        }
    }
}
ul
{
    list-style-type: none;
    padding: 0;
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    @include phone
    {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.card
{
    width: 400px;
    border-radius: 15px 15px 15px 15px;
    background-color: #ffff;
    margin-bottom: 5%;
    box-shadow: 3px 5px 20px #d6d6d6;
    padding-left: 0;
    @include phone
    {
        width: 345px;
    }
    .body_menu
    {
        padding: 3% 0 0 3%;
        h3
        {
            margin: 0;
            @include phone
            {
                font-size: 18px
            }
        }
    }
    .body_price
    {
        display: flex;
        justify-content: space-between;
        padding: 3% 5% 3% 3%;
        @include phone
            {
                font-size: 15px
            }
    }
}

.order
{
    display: flex;
    justify-content: center;
    &_button
    {
        width: 222px; 
        height: 46px;
        text-decoration: none;
        background: linear-gradient(to top left, $primary_color, $secondary_color);
        text-align: center;
        color: #ffff;
        border: 1px solid linear-gradient(to top left, $primary_color, $secondary_color);
        border-radius: 30px 30px 30px 30px;
        box-shadow: 3px 5px 20px #d6d6d6;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 15%;
    }
}

/*-- footer --*/

.bas_de_page
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: 2px solid #353535;
    background-color: #353535;
    color: #fff;
    width: 100%;
    height: 100%;
    padding-left: 4%;
    h3
    {
        display: flex;
        justify-content: center;
        font-weight: 200;
        font-size: 22px;
        font-family: 'Shrikhand', cursive;
        @include phone
        {
            font-size: 20px;
        }
    }
    ul
    {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding-left: 0; 
        margin-bottom: 5%;
        @include phone
        {
            display: block;
        }
        a
        {
            text-decoration: none;
            color: #fff;
        }
    }
    li
    {
        @include phone
        {
            margin-bottom: 2%;
        }
        i
        {
            @include phone
            {
                padding-right: 3%;
            }   
        }
    }
}
